/***************************************/
/*                Général              */
/***************************************/
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
}

/*************** Menu ***************/
.menu {
  width: 300px;
  height: 100vh;
  min-height: 800px;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px dashed #19191b;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}

.blocksMenu {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocksMenu span {
  font-size: 19px;
  text-align: center;
  position: relative;
  font-weight: 700;
  cursor: pointer;
}

.blocksMenu span a {
  color: #f1f1f1;
  text-decoration: none;
}

.blocksMenu span::after {
  content: "";
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 2px;
  border-radius: 2px;
  background: #aaa;
  transition: all 0.2s ease-out;
}

.blocksMenu span:hover::after {
  width: 100%;
}

/*************** Menu-Logo ***************/

.blocksMenu:nth-child(1) {
  width: 100%;
  height: 25%;
  background: #333;
}
.portrait {
  margin: 20px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.portrait img {
  width: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoCercle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}

.logoCercle img {
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************** Media Queries ***************/

@media screen and (max-width: 1300px) {
  .menu {
    left: -300px !important;
    width: 250px;
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu-visible {
    left: 0px !important;
  }
  .blocksMenu:nth-child(1) {
    display: none;
  }
  .blocksMenu:nth-child(7) {
    display: none;
  }
  .btnMenu {
    width: 70px;
    height: 70px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    background: #333;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  .contLign {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lignSolo {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lignSolo::before {
    content: "";
    position: absolute;
    bottom: 10px;
    background: #f1f1f1;
    width: 100%;
    height: 4px;
    border-radius: 5px;
  }
  .lignSolo::after {
    content: "";
    position: absolute;
    top: 10px;
    background: #f1f1f1;
    width: 100%;
    height: 4px;
    border-radius: 5px;
  }

  .contLign.active .lignSolo::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
  }
  .contLign.active .lignSolo {
    background: transparent;
  }
  .contLign.active .lignSolo::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
  }
}

/*************** Accueil ***************/

.accueil {
  background: url(./ressources/accueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  min-height: 900px;
  width: calc(100% - 300px);
  position: relative;
  margin-left: auto;
}

h1 {
  font-size: 90px;
  font-family: "Abri Fatface", sans-serif;
  margin: 0 60px;
  padding-top: 210px;
}
.txt-animation {
  font-size: 30px;
  margin: 10px 0 10px 60px;
}
.btn-acc {
  display: inline-flex;
  width: 200px;
  height: 50px;
  background: #000;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  margin: 10px 0 0 0;
  border-radius: 2px;
  font-size: 18px;
}

.btn-acc1 {
  margin: 10px 0 0 60px;
}
.btn-acc2 {
  background: transparent;
  border: 2px solid black;
  color: black;
  font-weight: 700;
}
.medias {
  display: flex;
  margin-left: 60px;
  margin-top: 30px;
}
.media {
  background: #19191b;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.media1 {
  border: 2px solid #333;
}
.media2 {
  background: transparent;
  border: 2px solid #333;
}
.icone-medias {
  width: 30px;
}
.btn-rond {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 #333;
  background: #333;
  animation: pulse 1.3s infinite;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
  }
}
.logo-btn-rond-acc {
  width: 35px;
}

/*************** Medias Accueil ***************/

@media screen and (max-width: 1300px) {
  .accueil {
    width: 100%;
    background-position: center;
  }
}
@media screen and (max-width: 1000px) {
  .accueil {
    min-height: 0;
    height: 700px;
  }
  h1 {
    font-size: 70px;
    margin: 0 30px 0 30px;
    padding-top: 100px;
  }
  .accueil p {
    margin: 20px 0 20px 30px;
  }
  .btn-acc1 {
    margin: 10px 0 0 30px;
  }
  .media {
    margin-left: 30px;
  }
  .btn-rond {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .accueil {
    height: 600px;
  }
  h1 {
    font-size: 50px;
    margin: 0 30px;
  }
  .accueil p {
    font-size: 20px;
  }
  .btnMenu {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  .accueil p {
    font-size: 16px;
  }
  .btn-acc {
    width: 120px;
    font-size: 13px;
    height: 40px;
    margin: 10px 0 0 5px;
  }
  .btn-acc1 {
    margin: 10px 0 0 30px;
  }
  .media {
    width: 40px;
    height: 40px;
  }
  .icone-medias {
    width: 20px;
  }
}
@media screen and (max-width: 450px) {
  .btnMenu {
    width: 50px;
    height: 50px;
  }
  .contLign {
    width: 20px;
  }
  .lignSolo {
    height: 3px;
  }
  .lignSolo::before {
    bottom: 8px;
    height: 3px;
  }
  .lignSolo::after {
    top: 8px;
    height: 3px;
  }
  .accueil {
    height: 500px;
  }
  h1 {
    margin: 0 30px 0 5px;
    padding-top: 120px;
  }
  .accueil p {
    margin: 30px 0 0 5px;
  }
  .btn-acc {
    width: 100px;
    font-size: 12px;
    height: 35px;
    margin: 30px 0 0 5px;
  }
  .medias {
    margin-top: 30px;
    margin-left: 5px;
  }
  .icone-medias {
    width: 20px;
  }
}

/* type writer */

@media screen and (max-width: 380px) {
  .txt-animation {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 370px) {
  .txt-animation {
    font-size: 11px !important;
  }
}

/*************** Section Présentation ***************/

.presentation {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  color: #e7e7e7;
}
.titrePres {
  font-size: 40px;
  text-align: center;
  margin: 50px 0 70px 0;
  padding-left: 300px;
}
.fondForme {
  background: rgb(20, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(23, 79, 122, 1) 37%,
    rgba(96, 177, 240, 1) 49%,
    rgba(27, 68, 102, 1) 61%
  );
  width: 2300px;
  height: 1000px;
  position: absolute;
  transform: rotate(-45deg) translateX(100px) translateY(-15px);
  z-index: -1;
}
.containerPresentation {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0 60px 0;
  flex-shrink: 0;
  padding-left: 300px;
}
.presGauche {
  width: 600px;
  flex-shrink: 0;
  margin-bottom: 50px;
  padding-left: 120px;
  padding-top: 20px;
}

.presGauche h3 q {
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
}
.presGauche h3 {
  text-align: center;
  font-size: 11px;
  letter-spacing: 2px;
  padding-left: 80px;
}

.presGauche hr {
  width: 60px;
  margin: 20px auto 40px auto;
  padding-left: 80px;
}

.presGauche p {
  text-align: justify;
}
.presDroite {
  width: 600px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}

.listePresentation {
  list-style-type: none;
  padding: 10px 0 50px 110px;
}
.chiffreStyle {
  font-family: "Abril Fatface", sans-serif;
  font-size: 40px;
}

.txtListe {
  font-size: 27px;
  display: inline;
}

/*************** Medias Presentation ***************/

@media screen and (max-width: 1300px) {
  .containerPresentation {
    padding-left: 0px;
  }
  .titrePres {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .fondForme {
    width: 100%;
    height: 100%;
    transform: rotate(0) translateY(0) translateX(0);
  }
  .titrePres {
    padding-top: 50px;
    margin: 0 0 20px 0;
  }
  .containerPresentation {
    flex-direction: column;
  }
  .presGauche {
    width: 80%;
    flex-shrink: 1;
    margin-bottom: 10px;
    padding: 20px 0;
  }
  .presGauche h3 {
    font-size: 10px;
    letter-spacing: 0px;
    padding-left: 0;
  }
  .presGauche p {
    font-size: 16px;
  }
  .presDroite {
    width: 80%;
    flex-shrink: 1;
  }
  .listePresentation {
    padding: 0 0;
  }
}
@media screen and (max-width: 700px) {
  .containerPresentation {
    margin-top: 10px;
    margin-bottom: 70px;
  }
  .titrePres {
    font-size: 24px;
    margin: 0 10px;
  }
  .chiffreStyle {
    font-size: 30px;
  }
  .txtListe {
    font-size: 17px;
  }
}

/*************** Section Portfolio ***************/

.portfolio {
  width: 100%;
}

.titrePort {
  text-align: center;
  padding: 50px 0;
  font-size: 50px;
  padding-left: 300px;
}

.contPortfolio {
  width: 100%;
  height: auto;
  margin: 0 auto 100px auto;
  padding-left: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item {
  margin: 20px;
  width: 420px;
  height: 400px;
  background: #f0f2f0;
  color: #333;
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.item:hover {
  transform: translateY(-5px);
}
.contImgPort {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.contImgPort img {
  width: 100%;
  height: auto;
}

.item h3 {
  padding: 10px 10px 0;
  font-size: 22px;
}
.item p {
  padding: 10px 10px 0;
}
.btnProjets {
  display: block;
  margin: 10px;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btnProjets::after {
  content: "";
  height: 240px;
  width: 100px;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  position: absolute;
  left: -150px;
  top: -50px;
  transform: rotate(-45deg);
}
.btnProjets:hover::after {
  transition: transform 0.4s 0.1s linear;
  transform: translateX(400px);
}

/*************** Medias Portfolio ***************/

@media screen and (max-width: 1300px) {
  .contPortfolio {
    padding-left: 0;
  }
  .titrePort {
    font-size: 40px;
    margin: 50px 0 70px;
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .titrePort {
    margin: 10px 0;
    padding: 30px 0;
  }
  .item {
    height: 420px;
  }
  .contImgPort {
    height: auto;
  }
}
@media screen and (max-width: 340px) {
  .item {
    height: 380px;
  }
}
